<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Congratulations!</title>
			<style>
		body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
	padding: 20px 20px;
	background: url("../images/mail-bg.jpg");
	background-size: cover;
	line-height: 2;
}
		
		form {
	max-width: 665px;
	margin: 50px auto;
	padding: 20px 20px;
	background: #ffedfd;
	border-radius: 20px;
}
</style>
	</head>
	<body>
		<form>
			<h3>Congratulations! Your account has been activated and email is verified!</h3>
			<a href="/login">Login</a>
		</form>
	</body>
</html>