<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Add Donor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
             
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          
           
  <style type="text/css">
           form {
	max-width: 670px;
	margin: 20px auto;
	padding: 20px 20px;
	background: #fff;
	border-radius: 8px;
}
</style>
</head>
    <body>

   
            <form class="form-horizontal" action="#" th:action="@{/add-donor}" th:object="${donor}" method="post" style="border:3px solid black">  
            
			<center>
				<h2>Donor profile</h2>
			</center>
			
			<div class="form-group">
			<label class="col-sm-2 control-label" for="name">Full Name</label>
			<div class="col-xs-8">
			<input class="form-control" th:field="*{name}" type="text" name="name"></input>
			</div>
			</div>
			
            
            <div class="form-group">
			<label class="col-sm-2 control-label" for="location">Location</label>
			<div class="col-xs-8">
			<input class="form-control" th:field="*{location}" type="text" name="location"></input>
			</div>
			</div>
			
            
            <div class="form-group">
			<label class="col-sm-2 control-label" for="address">Address</label>
			<div class="col-xs-8">
			<input class="form-control" th:field="*{address}" type="text" name="address"></input>
			</div>
			</div>
			
			
			<div class="form-group">
			<label class="col-sm-2 control-label" for="parentName">Parent Name</label>
			<div class="col-xs-8">
			<input class="form-control" th:field="*{parentName}" type="text" name="parentName"></input>
			</div>
			</div>
			
			<div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label> 
            <div class="col-xs-8">
            <input class="form-control" th:field="*{email}" type="text" name="email"></input>
            </div>
			</div>
            
            <div class="row">
			<div class="form-group">
			<label class="col-sm-2 control-label" for="age">Age</label> 
			<div class="col-xs-4">
            <input class="form-control" th:field="*{age}" type="number" name="age"></input>
            </div>
			<label class="col-sm-2 control-label" for="bloodGroup">blood Group</label>
			<div class="col-xs-4">
			<input class="form-control" th:field="*{bloodGroup}" type="text" name="bloodGroup"></input>
			</div>
			</div>
			</div>
			
			
            <div class="row">
            <center>
            <input class="btn btn-primary" type="reset" value="Clear"/>
            <input class="btn btn-primary" type="submit" value="Submit Donor details"></input>
            </center>
            </div>
			 </form>
			
	
    </body>  
</html>  

